Repository dahegyi/szabadbisztro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx}": ["eslint --fix"],
  "**/*.{css,scss}": ["stylelint --fix"]
}

removed setup-node from firebase deploy action
  .husky/workflows/firebase-deploy.yml
Due: none

workflow moved to correct folder
  .github/workflows/firebase-deploy.yml
Due: none

fixed linting script
  package.json
Due: none

linting & minor formatting in components
  src/components/Content.jsx
  src/components/Footer.jsx
  src/components/MediaSlideshow.jsx
  src/components/Slideshow.jsx
Due: eslint --fix

installed postcss-scss
  package-lock.json
  package.json
Due: none

ran lint:fix on main.scss
  src/assets/main.scss
Due: stylelint --fix

fixed broken gmaps links
  src/components/Content.jsx
Due: eslint --fix

removed old code, manifest.json, and related images, changes in index.html
  index.html
  public/apple-touch-icon.png
  public/index.html
  public/logo512.png
  public/manifest.json
  src/prismic.js
Due: eslint --fix

removed unnecessary prismic stuff
  index.html
  src/prismic.js
Due: eslint --fix

formatted firebase.json
  firebase.json
Due: none

added .firebase/ to gitignore
  .gitignore
Due: none

added null check to App.js so they can be removed elsewhere
  src/App.jsx
Due: eslint --fix

added react-scroll, made mobile nav fancy 💅
  package-lock.json
  package.json
  public/logo.png
  src/assets/main.scss
  src/components/Slideshow.jsx
Due: eslint --fix, stylelint --fix

make it bootiful
  package.json
  src/App.jsx
  src/assets/main.scss
  src/components/Content.jsx
  src/components/Footer.jsx
  src/components/MediaSlideshow.jsx
  src/components/Slideshow.jsx
Due: eslint --fix, stylelint --fix

byebye react-bootstrap, added swiper, more fancy styling
  package-lock.json
  package.json
  src/App.jsx
  src/assets/main.scss
  src/components/Content.jsx
  src/components/Footer.jsx
  src/components/MediaSlideshow.jsx
Due: eslint --fix, stylelint --fix

fine tuning swiper
  src/components/Content.jsx
  src/components/MediaSlideshow.jsx
Due: eslint --fix

updated imports => build size down 130kb
  src/App.jsx
  src/assets/main.scss
Due: eslint --fix, stylelint --fix

logo resized & converted to webp
  public/logo.png
  public/logo.webp
  src/components/Slideshow.jsx
Due: eslint --fix

css cleanup, breakpoint changes, minor fixes
  src/assets/main.scss
  src/components/Slideshow.jsx
Due: eslint --fix, stylelint --fix

pattern svgs
  src/assets/footer-pattern.svg
  src/assets/opening-hours-pattern.svg
  src/assets/reservation-pattern.svg
Due: none

more cleanup & styling
  src/assets/main.scss
  src/components/Content.jsx
  src/components/Footer.jsx
  src/components/MediaSlideshow.jsx
Due: eslint --fix, stylelint --fix

fix for husky
  .husky/husky.sh
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: none

small fix for navigation
  src/assets/main.scss
Due: stylelint --fix

added font color to btn
  src/assets/main.scss
Due: stylelint --fix

bugfix for language switch & blockquote styling
  src/assets/main.scss
  src/components/Slideshow.jsx
Due: eslint --fix, stylelint --fix

renamed slideshow to header
  src/App.jsx
  src/components/Slideshow.jsx
Due: eslint --fix

plant scaled & converted to webp
  src/assets/main.scss
  src/assets/plant.png
  src/assets/plant.webp
Due: stylelint --fix

renamed slideshow component
  src/components/Header.jsx
Due: eslint --fix

never do replace all
  src/components/Header.jsx
Due: eslint --fix

ga-4 setup, cleanup
  package-lock.json
  package.json
  src/App.jsx
  src/components/Content.jsx
  src/components/Footer.jsx
  src/components/Header.jsx
  src/main.jsx
  src/utils/analytics.js
  src/utils/prismic.js
  src/utils/store.js
  vite.config.js
Due: eslint --fix

added language label
  src/App.jsx
Due: eslint --fix

fix for contact scrolling
  src/components/Content.jsx
Due: eslint --fix

added license, edited readme
  LICENSE
  README.md
  package.json
Due: none

fix for ga label
  src/App.jsx
Due: eslint --fix

added local storage saving for language
  src/reducers/language-switcher.js
Due: eslint --fix

fix for readme images
  README.md
Due: none

updated readme
  README.md
Due: none

footer: changed icons, added fb2
  package.json
  public/facebook.svg
  public/instagram.svg
  public/mail.svg
  src/assets/main.scss
  src/components/Footer.jsx
Due: eslint --fix, stylelint --fix

fix for deploy script invalid action
  .github/workflows/firebase-deploy.yml
Due: none
